<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>파일게시판-글작성</title>	
		
		<link th:href="@{/css/common.css}" rel="stylesheet" />
		<link th:href="@{/css/insert.css}" rel="stylesheet" />
	</head>
	
	<body>
		<div class="head">
			<div th:replace="./inc/header"></div>
		</div>
		<br/><br/>
	
		<div class="container">
			<div>
				<form role="form" th:object=${fileBoardVO} th:action="@{/fileBoard/insertProc}"
					method="post" enctype="multipart/form-data">
					<div>
						<label for="title">제목</label>
						<input type="text" th:field="*{title}" id="title" name="title"
							placeholder="제목을 입력하세요" required="required">
					</div>
					<div>
						<label for="writer">작성자</label>
						<input type="text" th:field="*{writer}" id="writer" name="writer"
							placeholder="작성자를 입력하세요" required="required">
					</div>
					<div>
						<label for="content">내용</label>
						<textarea type="text" th:field="*{content}" id="content" name="content" 
							placeholder="내용을 입력하세요" required="required"></textarea>
					</div>
					<div>
						<label>파일</label>
						<input type="file" name="files" id="fileUp">
					</div>
					<div style="text-align: right;">
						<input class="button" type="submit" th:value="작성">
						<input class="button" type="reset" th:value="취소">
					</div>
				</form>
			</div>
			<br/><br/><br/>
		</div>
	</body>
</html>